server:
  port: 7001

#eureka配置
eureka:
  instance:
    hostname: localhost  #eureka服务端的实例名称
  client:
    register-with-eureka: false   #register-with-eureka如果为false，则是否将自己注册到注册中心
    fetch-register: false  #fetch-register如果为false，则表示自己为注册中心
    service-url:  #与注册中心交互的地址，，监控页面地址http://${eureka.instance.hostname}:${server.port}/
      defaultZone: http://${eureka.instance.hostname}:${server.port}/eureka
