server:
  port: 8001

#mybatis配置
mybatis:
  type-aliases-package: com.aisleep.pojo
  configuration: classpath:mybatis/mapper/*.xml #这个可以省去
  mapper-locations: classpath:mybatis/mapper/*.xml

#spring应用的配置
spring:
  application:
    name: provider-order-8001 #微服务的名称
#数据源
  datasource:
    type: com.alibaba.druid.pool.DruidDataSource
    driver-class-name: com.mysql.jdbc.Driver
    url: jdbc:mysql://localhost:3306/demo?useUnicode=true&charaterEncoding=utf-8
    username: root
    password: root

