server:
  port: 8001

#mybatis配置
mybatis:
  type-aliases-package: com.aisleep.pojo
  mapper-locations: classpath:mybatis/mapper/*.xml
#config-location: classpath:mybatis/mybatis-config.xml #这个【核心配置文件】可以省去

#spring应用的配置
spring:
  application:
    name: provider-order-8001 #微服务的名称
#数据源
  datasource:
    type: com.alibaba.druid.pool.DruidDataSource
    driver-class-name: com.mysql.jdbc.Driver
    url: jdbc:mysql://localhost:3306/demo?useUnicode=true&characterEncoding=utf-8
    username: root
    password: root


#eureka的配置，服务注册到哪里
eureka:
  client:
    service-url:
      defaultZone: http://localhost:7001/eureka/  #服务注册到哪里
    instance:
      instance-id: springcloud-provider-8001 #修改eureka上默认描述信息


#info配置
info:
  app.name: kuangshen-springcloud
  company.name: blog.kuangstudy.com


